<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="CheckUnresolvedIssue" class="com.example.SolutionService.CheckUnresolvedIssue">
        <property name="checkunresolvedissue">
            <ref bean="fetchdataclient" />
        </property>
    </bean>

    <bean id="fetchdataclient" class="com.example.SolutionService.FetchDataClient" />


</beans>